Source: caripela
Section: utils
Priority: extra
Maintainer: Ignacio Losiggio <iglosiggio@dc.uba.ar>
Build-Depends: debhelper (>= 8.0.0), npm, git
Standards-Version: 3.9.6
Homepage: https://github.com/HuayraLinux/huayra-caripela
Vcs-Browser: https://github.com/HuayraLinux/huayra-caripela

Package: huayra-caripela
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, electron (>= 1.4.0.1),
         huayra-help (>= 0.3)
Description: Permite crear personajes personalizados
 Permite crear personajes personalizados para configurar
 tu perfil de usuario.
 .
 Es posible exportarlas como SVG o PNG permitiendote
 compartirlas con otras personas.
