div.avatar {
	width: 400px;
	position: absolute;
	top: 55px;
	left: 10px;
}

canvas {
	border: 1px solid gray;
}

div.botones {
	padding: 5px;
	padding-left: 0;
}

div.galeria {
	position: absolute;
	right: 10px;
	left: 420px;
	top: 55px;
	bottom: 10px;
	overflow: hidden;
}

dl.tabs {
	width: 1200px;
	height: 60px;
}

.tabs-content {
    overflow: scroll;
    position: absolute;
    bottom: 0px;
    top: 60px;
		margin-bottom: 0px !important;
}

.objeto {
	width: 120px;
  min-height: 120px;
  max-height: auto;
  float: left;
  margin: 3px;
	padding: 3px;
}


.invisible {
	display: none;
}
