* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

div.avatar {
	width: 400px;
	position: absolute;
	top: 55px;
	left: 10px;
}

canvas {
	border: 1px solid gray;
}

div.botones {
	padding: 5px;
	padding-left: 0;
}

div.galeria {
	position: absolute;
	right: 10px;
	left: 420px;
	top: 55px;
	bottom: 10px;
	overflow: hidden;
}

dl.tabs {
	width: 1200px;
	height: 60px;
}

.tabs-content {
    overflow: scroll;
    position: absolute;
    bottom: 0px;
    top: 60px;
		margin-bottom: 0px !important;
}

.objeto {
	width: 120px;
	height: 120px;
	float: left;
	overflow: hidden;
	padding: 3px;
	margin: 5px;
	margin-bottom: 10px;
	line-height: 115px;
	text-align: center;
}

.resize_fit_center {
    max-width: 100% !important;
    max-height: 100% !important;
    vertical-align: middle;
}

.invisible {
	display: none;
}

.tabs-content > .content {
	padding-right: 10px;
}
