div.avatar {
	border: 1px solid red;
	width: 400px;
	position: absolute;
	top: 55px;
	left: 10px;
}

div.galeria {
	border: 1px solid green;
	position: absolute;
	right: 10px;
	left: 420px;
	top: 55px;
	bottom: 10px;
	overflow: hidden;
}

dl.tabs {
	background-color: rgb(247, 247, 247);
	width: 1200px;
	border: 1px solid red;
	height: 60px;
}

.tabs-content {
    overflow: scroll;
    border: 1px solid rgb(37, 172, 85);
    position: absolute;
    bottom: 0px;
    top: 60px;
		margin-bottom: 0px !important;
}

.objeto {
	width: 120px;
  min-height: 120px;
  max-height: auto;
  float: left;
  margin: 3px;
	padding: 3px;
}
